@inherits LayoutComponentBase
@inject NavigationManager Navigation


@code {
    private bool IsTeacherAuthenticated => Navigation.Uri.Contains("/teacherhome")



                                        || Navigation.Uri.Contains("/grades")

                                        || Navigation.Uri.Contains("/students")

                                        || Navigation.Uri.Contains("/courses")
                                        
                                        || Navigation.Uri.Contains("/teacher/averages");

    private bool IsStudentAuthenticated => Navigation.Uri.Contains("/studenthome")

                                         
                                        || Navigation.Uri.Contains("/viewstudentgrades")

                                        || Navigation.Uri.Contains("/viewcourses")

                                        || Navigation.Uri.Contains("/student/averages");

}


<div class="page flex">
    @if (IsTeacherAuthenticated)
    {
        <div class="sidebar w-64 bg-gray-200 h-screen p-4">
            <NavTeacherMenu />
        </div>

    }

    @if (IsStudentAuthenticated)
    {
        <div class="sidebar w-64 bg-gray-200 h-screen p-4">
            <NavStudentMenu />
        </div>
    }

    <main class="flex-1 p-4">
        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" class="fixed bottom-0 left-0 w-full bg-red-500 text-white p-2 text-center">
    An unhandled error has occurred.
    <a href="" class="underline">Reload</a>
    <a class="dismiss cursor-pointer ml-4">🗙</a>
</div>
